<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/MyUtils.css" />
</head>
<body>

    <div class="navbar">

        <!-- Navbar logo -->
        <div class="nav-header">
            <div class="nav-logo">
                <a href="#">
                    <img src="~/Imgs/logo.jpg" width="50px" alt="logo">
                </a>
            </div>
        </div>

        <!-- responsive navbar toggle button -->
        <input type="checkbox" id="nav-check">
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <!-- Navbar items -->
        <div class="nav-links">
            <a>@Html.ActionLink("Home", "Index", "Home")</a>
            <a>@Html.ActionLink("Expense", "Index", "expens")</a>
            <div class="dropdown">
                <a>@Html.ActionLink("Add Category", "Index", "Category_Exp")<i class="fa fa-caret-down"></i></a>
                <div class="drop-content">
                    <a>@Html.ActionLink("Filter Category", "FilterCategory", "Category_Exp")</a>
                </div>
            </div>
            <a>@Html.ActionLink("Add Total Limit", "Index", "Total_Expense_Limit")</a>
        </div>

    </div>
    <div class="animate-Do"></div>
    @*</div>*@

    @*</div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @* This Library is used for typing animation *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js" integrity="sha512-1KbKusm/hAtkX5FScVR5G36wodIMnVd/aP04af06iyQTkD17szAMGNmxfNH+tEuFp3Og/P5G32L1qEC47CZbUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @*CDN of jquery*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    @*CDN of FontAwesome*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    @*Function of typing animation*@
    <script>
        if ($(".text-slider").length == 1) {

            var typed_strings =
                $(".text-slider-items").text();

            var typed = new Typed(".text-slider", {
                strings: typed_strings.split(", "),
                typeSpeed: 50,
                loop: false,
                backDelay: 900,
                backSpeed: 30,
            });
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
